# Base dependencies
streamlit
gputil
liger_kernel
pyngrok
peft
ninja
qwen-vl-utils
bitsandbytes
flash-attn
pdf2image
PyPDF2
optimum
streamlit_image_select
transformers
markdown2
lmdb
gdown
paddlepaddle-gpu
python-docx
accelerate
einops==0.5.0
llama_index
python-dotenv
llama-index-embeddings-huggingface
llama-index-llms-ollama
llama-index-graph-stores-neo4j
llama-index-llms-gemini
llama-index-readers-wikipedia
pymongo
llama-index-retrievers-bm25
llama-index-tools-yahoo-finance
llama-index-embeddings-ollama
llama-index-llms-huggingface